<div class="row-fluid">
  <div class="span9">
    <a class="btn btn-large btn-block" id="open">
      <div class="row-fluid">
        <div class="span4" id="name">
        </div>
        <div class="span6" id="blurb">
        </div>
        <div class="span2" id="status">
        </div>
      </div>
    </a>
  </div>
  <div class="span3">
    <form class="form-inline pull-right">
      <button class="btn" id="subscribe">Unsubscribe</button>
      <button class="btn" id="mute">Mute</button>
    </form>
  </div>
</div>
