<div class="modal fade" id="options-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Options</h4>
      </div>
      <div class="modal-body">

        <form>
          <legend>Room UI</legend>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked="true" id="toggle-chat">Small Chatbox
            </label>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="save">Ok</button>
      </div>
    </div>
  </div>
</div>
