<!--
      <a class="muteButton" href=""><i class="icon-warning-sign"></i></a>
      <a class="broadcastLink" target="_blank"><span class="broadcastIcon"></a>
-->
<li class="message">
  <span class="userTag"><a title="Avatar link for @<%- name %>" href="https://alpha.app.net/<%- name %>" target="_blank"><span class="userPic" <% if (avatarUrl !== '') { %>style="background-image: url('<%- avatarUrl %>')"<% } %>></span></a>&nbsp;<span class="username"><a class="author" href=""><%- name %></a></span></span>&nbsp;<span class="messageContent"><%= body %></span>
  <span class="embedImageWrapper"></span>
  <span class="postTimestamp text-muted"></span>
</li>

