<!--
<div class="postRowWrap">
  <div class="postRow">
    <span class="authorContainer">
      <a class="authorAvatar" target="_blank">
        <img class="authorAvatarImg" width="23" height="23"
             style="width: 23px; height: 23px;">
      </a>
      <a class="author" href=""></a>
    </span>
    <span class="postBody">

    </span>
    <span class="postInfo">
-->
<!--
      <a class="muteButton" href=""><i class="icon-warning-sign"></i></a>
-->
<!--
      <a class="broadcastLink" target="_blank"><span class="broadcastIcon"></a>
      <span class="postTimestamp"></span>
    </span>
    <div class="embedImageWrapper">
    </div>
  </div>
</div>
-->
<li class="message">
  <span class="userTag"><a title="Avatar link for @<%- name %>" href="https://alpha.app.net/<%- name %>" target="_blank"><span class="userPic" <% if (avatarUrl !== '') { %>style="background-image: url('<%- avatarUrl %>')"<% } %>></span></a><span class="username"><%- name %></span></span>
  <span class="messageContent"><%= body %></span>
</li>

