<div class="postRowWrap">
  <div class="postRow">
    <span class="authorContainer">
      <a class="authorAvatar" target="_blank">
        <img class="authorAvatarImg" width="23" height="23">
      </a>
      <a class="author" href=""></a>
    </span>
    <span class="postBody"></span>
    <div class="embedImageWrapper">
      <a class="embedImageLink" target="_blank">
        <img class="embedImage">
      </a>
    </div>
  </div>
  <a class="broadcastLink" target="_blank"><span class="broadcastIcon"></a>
  <span class="postTimestamp"></span>
</div>
