<div class="navbar-inner">
  <a class="brand patter-logo" style="padding: 11px 20px 1px;" href="index.html"><img class="full-logo" src="/images/patter-logo.png" width="70" height="15"></a>
  <ul class="nav">
    <li><p class="navbar-text" id="room-name">PM</p></li>
  </ul>
  <p class="navbar-text" id="room-status">Public</p>
  <ul class="nav pull-right">
    <li><a id="translate-button" href="#translate">Translate</a></li>
    <li><a href="" id="notify-button">Enable Notify</a></li>
    <li class="divider-vertical"></li>
    <li><a href="" id="edit-room-button">View Room</a></li>
    <li class="divider-vertical"></li>
    <li><a href="" id="subscribe-button">Subscribe</a></li>
    <li class="divider-vertical"></li>
    <li><a href="index.html" id="lobby-button">Lobby</a></li>
  </ul>
</div>
