<div class="navbar-inner">
  <a class="brand patter-logo" style="padding: 3px 20px 1px;" href="index.html"><img class="full-logo" src="patter-top.png"><img class="mobile-logo" src="patter-top-mobile.png"></a>
  <ul class="nav">
    <li><p class="navbar-text" id="room-name">PM</p></li>
  </ul>
  <p class="navbar-text" id="room-status">Public</p>
  <ul class="nav pull-right">
    <li><a href="" id="notify-button">Enable Notify</a></li>
    <li><a href="" id="jfontsize-minus"><i class="icon-font"></i>-</a></li>
    <li><a href="" id="jfontsize-default"><i class="icon-font"></i></a></li>
    <li><a href="" id="jfontsize-plus"><i class="icon-font"></i>+</a></li>
    <li class="divider-vertical"></li>
    <li><a href="" id="edit-room-button">View Room</a></li>
    <li class="divider-vertical"></li>
    <li><a href="" id="subscribe-button">Subscribe</a></li>
    <li class="divider-vertical"></li>
    <li><a href="index.html" id="lobby-button">Lobby</a></li>
  </ul>
</div>
