<h1 id="head"></h1>
<button id="update" style="display: none"
        class="btn btn-success btn-block">N Updates</button>
<table id="body" class="table"></table>
<div class="text-center">
  <h3 id="none-found" style="display: none">No Rooms Found</h3>
  <img id="body-loading" src="images/spinner-big.gif" width="32" height="32"
       style="display: none" alt="Loading...">
</div>
<br>
<button id="more" class="btn btn-default btn-block"
        data-loading-text="Loading..."
        data-failed-text="Failed... Retry?">More Rooms</button>
<br>
