.postRowWrap
{
  background-color: #eee;
  display: relative;
}

.postRow {
  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  background: #f5f5f5;
}

.postRow a {
  color: #00457c;
  text-decoration: none;
  font-style: italic;
  display: inline-block;
  font-size: inherit;
}

.postRow a:hover {
  color: #2a79b8;
}

.postRow a.link {
  font-weight: bold;
}

.postRow .mention {
  font-weight: bold;
  color: #39f;
  display: inline-block;
  font-size: inherit;
  margin-left: 0;
}

.postTimestamp {
  font-size: 0.6em;
  float: right;
  margin-right: 5px;
}

.emoji {
  max-height: 24px;
}

.embedImageWrapper {
  margin-left: 160px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}

.postRowWrap .authorContainer {
  position: absolute;
  width: 150px;
  text-align: right;
  overflow: hidden;
}
.postRowWrap .author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  display: inline-block;
  line-height: 26px;
  font-style: normal;
}


.broadcastIcon {
  background: url('http://patter-app.net/Resources/Images/BroadcastImg.png') no-repeat;
  width: 24px;
  height: 18px;
  display: block;
}

.broadcastLink {
  float: right;
  width: 27px;
  height: 18px;
  background-color: #058205;
  border-radius: 3px;
  padding: 1px 0 1px 3px;
  margin-right: 5px;
}

.postRowWrap .authorContainer .authorAvatar {
  float: left;
}

.postRowWrap .postBody {
  display: block;
  margin-left: 160px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.mentionPost .postBody {
  background: #fff7cb;
}

.myPost .postBody {
  background: #e5f2ff;
}