
.usersList {
  margin: 0;
}
.userAvatar {
  width: 33px;
  height: 33px;
  max-height: 33px;
  left: 0px;
  display: inline-block;
}
.userName {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-size: 0.875em;
  position: absolute;
  left: 33px;
  right: 0;
  padding: 9px 5px 1px 5px;
  font-weight: 600;
  height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.myAccount {
  background-color: #d98e8d;
  color: #fff;
}
.myAccount:hover {
  background: #bf6160;
}
.idleUser {
  background-color: #fff;
  color: #393939;
  opacity: 0.3;
}
.idleUser:hover {
  opacity: 0.6;
}
.activeUser {
  background-color: #666666;
  color: #fff;
}
.activeUser:hover {
  background: #737373;
}
