* { font-family: Segoe UI, 'Helvetica Neue', Helvetica, Sans-Serif; }

@import url("css/post.css");
@import url("css/user.css");

.full-logo {display: auto;}
.mobile-logo {display: none;}
.imagePreview {
  border-style: dotted;
  border-width: 2px;
  overflow: hidden;
  background-color: #ccccff;
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-text {
  float: left;
}
.imagePreviewText {
  text-align: center;
}
.navbar {
  z-index: 3;
}
.rowFull {
/*  z-index: 1; */
  left: 0px;
  right: 0px;
  
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.columnSubmit {
  position: absolute;
  right: 100px;
  width: 80px;
  float: right;
}
.columnBroadcast {
  right: 0;
  width: 100px;
  float: right;
}
.chatForm {
  position: absolute;
  bottom: 0;
}
.chatClientWrap h3 { font-weight: normal; font-size: 1.5em; line-height: 1em; font-family: 'Oswald', sans-serif; color: #fff; margin: 0; margin-left: 10px; padding: 0; }
input.submitMessage { background: #038e1d; color: #fff; font-size: 1em; width: 100%; height: 42px; float: left; border-radius: 0 0 3px 0; border: none; }
input.submitMessage:hover { background: #006d15; }
input.broadcastMessage { background: #006914; color: #fff; font-size: 1em; width: 100%; height: 42px; float: left; border-radius: 0 0 3px 3px; border: none; margin-left: 3px; margin-right: 3px; }
input.broadcastMessage:hover { background: #005510; }
.chatClientWrap {
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 20px;
  right: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.postWindow {
  background: #fff;
  border-radius: 3px 0 0 3px;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0px;
  bottom: 53px;
  top: 42px;
  right: 140px;
  -webkit-overflow-scrolling: touch;
}
.userWindow {
  background: #f5f5f5;
  overflow: auto;
  border-radius: 0 3px 3px 0;
  float: right;
  position: absolute;
  top: 42px;
  bottom: 53px;
  right: 0;
  width: 140px;
}
.mainRow {
    position: absolute;
    top: 10px;
    bottom: 0px;
    left: 1px;
    right: 0;
}
.inputRow {
    position: absolute;
    bottom: 10px;
    right: 20px;
    left: 20px;
}

.chatBoxWrap {
  color: #000000;
  background: #eee;
  margin-left: 0px;
  border-radius: 0 0 0 3px;
  padding-top: 2px;
  border: 1px solid #000000;
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 200px;
  height: 40px;
}
input.chatbox {
  
  position: absolute;
  bottom: 0;
  height: 40px;
  left: 0;
  right: 0;
  border: none;
  box-shadow: none;
  padding-left: 3px;
}
.broadcastContainer { float: left; margin: 0 0 0 40px; }
@media screen and (max-width: 799px) {
  .chatClientWrap {
    left: 0;
    right: 0;
  }
  #room-name {
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .navbar, .navbar-inner {max-height: 90px;}
  .navbar .nav {margin: 0 10px 0 0px!important;}
  .authorAvatar {display: none;}
  .navbar-inner {padding: 0!important;}
  .label {
    position: absolute;
    left: 0;
    right: 0;
    top: 42px;
    z-index: 2;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
  }
  .navbar .nav>li>a {font-size: 13px; padding: 10px 5px 5px 5px!important;}
  .full-logo {display: none;}
  .mobile-logo {display: inline;}
  .divider-vertical {
    display: none;
  }
  .postWindow {
    bottom: 61px;
    top: 61px;
    right: 0;
  }
  #edit-room-modal {
    top: 0!important;
  }
  .pull-right li:nth-child(2), .pull-right li:nth-child(3), .pull-right li:nth-child(4) {
    display: none;
  }
  .chatForm form {margin: 0;}
  .userWindow {display: none;}
  .navbar .brand {padding: 0!important; margin: 0!important;}
  .navbar-text {line-height: 0;}

  .postRowWrap .postBody {
    margin-left: 80px;
  }
  .embedImageWrapper {
    margin-left: 80px;
  }
  .postRowWrap .authorContainer {
    width: 70px;
  }
  .postRowWrap .authorContainer .authorAvatar {
    display: none;
  }
}
